/* Общие стили для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
}

/* Стиль для кнопок */
button, .button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #000000;
}

/* Таблица товаров */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #000000;
    color: white;
}

td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

td button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #e53935;
}

/* Форма добавления и редактирования товара */
form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #a04545;
}

/* Сообщение о сохранении */
#savedMessage {
    text-align: center;
    font-size: 18px;
    color: rgb(128, 0, 0);
    margin-top: 20px;
}

#backButton {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #000000;
}

/* Стили для ссылки "Добавить товар" */
a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    text-decoration: none;
}

a:hover {
    color: #000000;
}


#productTable img {
    width: 150px; /* Увеличьте размер фото */
    height: 150px; /* Увеличьте размер фото */
    object-fit: cover; /* Чтобы изображение не искажалось */
}
